body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero {
  background-color: #262626;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
.hero h1 {
  margin: 0;
}
.add-color-link {
  color: white;
}

.colors-container {
  text-align: center;
}
.color-list {
  color: black;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}

/* Color.jsx */
.color-container {
  text-align: center;
  color: white;
  font-size: 5rem;
}
.color-container p {
  color: white;
}

.add-color-html {
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
);  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.add-color-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 2rem;
  height: 20vh;
  width: 50vw;
  border-radius: 17px;

}
